<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="gai2" method="post">
    <table border="1">
        <tr>
            <td>图书名称</td>
            <td><input type="text" name="name">
        </tr>
        <tr>
            <td>价格</td>
            <td><input type="text" name="price"></td>
        </tr>
        <tr>
            <td>数量</td>
            <td><input type="text" name="number"></td>
        </tr>
        <tr>
            <td>是否上架</td>
            <td>
                <input type="radio" value="是" name="is_sale">是
                <input type="radio" value="否" name="is_sale">否
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="修改"></td>
            <td></td>
        </tr>
    </table>
</form>
</body>
</html>